.helpUser {
    img {
        width: 90px;
        height: 90px;
        opacity: 0.7;
        position: absolute;
        top: -60px;
        left: -50px;
    }
}

.helpUser:hover {
    img {
        opacity: 0.9;
    }
    .helpText {
        visibility: visible;
    }
}

.helpUser-smal {
    width: 50px;
    height: 50px;
    opacity: 0.7;
    position: absolute;
    top: -25px;
    left: -25px;
}

.helpUser-smal:hover {
    img {
        opacity: 0.9;
    }
    .helpText {
        visibility: visible;
    }
}

.helpText {
    max-width: 80%;
    visibility: hidden;
    position: absolute;
    top: -70px;
    left: 30px;
    color: white;
    background-color: #ffe000;
    color: black;
    border: 3px solid gray;
    padding: 3px;
    border-radius: 9%;
}

.setHelp {
    position: relative;
}